.item {
  display: grid;
  grid-template-columns: auto 100px;
}

.centeredInput {
  text-align: center;
}

.modalContent {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  row-gap: 5px;
  padding-bottom: 10px;
}

.modalHeader {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  column-gap: 5px;
}

.modalHeader button {
  width: 100px;
}

.itemsGrid {
  display: grid;
  grid-template-rows: max-content max-content max-content;
}

.buttonsGrid {
  display: grid;
  grid-template-columns: 25px 50px;
}

.buttonsGrid2 {
  display: grid;
  grid-template-columns: repeat(2, 25px);
}

.items {
  display: grid;
  grid-template-columns: 35px auto 50px 75px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.editItems {
  display: grid;
  grid-template-columns: 35px auto 50px 25px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.rentGrid {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  row-gap: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.rentGrid button {
  background-color: lime;
}

.rentGrid button:hover {
  background-color: limegreen;
}

.rentInputs {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.rentItems {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.rentCheckbox {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
  color: white;
}

.rentInputBox {
  display: grid;
  grid-template-rows: max-content max-content;
}

.rentInputBox label {
  text-align: center;
  color: white;
}

.alugado {
  text-align: center;
  background-color: red;
}

.parcial {
  text-align: center;
  background-color: yellow;
}

.disponivel {
  text-align: center;
  background-color: limegreen;
}

.nalugado {
  text-align: center;
  background-color: limegreen;
}

.rentInputs2 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 1000px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  padding: 10px;
}

.rentInputs2 label {
  color: black;
}

.atrasado {
  background-color: red;
  text-align: center;
}

.naoatrasado {
  background-color: limegreen;
  text-align: center;
}
