.container {
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 49%);
  grid-template-rows: repeat(2, [col-start] max-content [col-end]);

  column-gap: 10px;
  row-gap: 10px;

  justify-content: center;
}

.container .box {
  border-radius: 10px;

  background-color: black;
}

.managementContainer .managementTitle {
  background-color: #414141;

  padding: 5px;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  font-weight: bold;
}

.managementContainer .managementBox {
  padding: 5px;

  display: grid;

  row-gap: 10px;
}

.managementContainer input {
  width: 100%;

  margin-left: 0;
}

.managementContainer .managementRoles {
  display: grid;
  grid-template-columns: max-content max-content;

  column-gap: 5px;
}

.managementContainer .rolesGrid {
  display: grid;
  grid-template-columns: max-content max-content;

  column-gap: 5px;
}

.managementContainer .saveButton {
  display: grid;
  grid-template-rows: max-content max-content;

  text-align: center;
}

.saveButton button {
  background-color: #1f911f;

  border-radius: 5px;
  border: none;

  padding: 5px;
}

.saveButton button:hover {
  background-color: limegreen;
}

.submenu {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 5px;

  padding: 5px;
}

.submenu button {
  display: flex;

  align-items: center;
}

.selection {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 5px;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  margin-top: 10px;
}

.roles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(auto-fill, [col-start] 100% [col-end]);

    padding: 10px;
  }

  .managementContainer .managementGrid {
    grid-template-columns: auto;
    row-gap: 10px;
  }

  .managementContainer .rolesGrid {
    grid-template-columns: max-content;
  }

  .data {
    grid-template-columns: 1fr;
  }

  .roles {
    grid-template-columns: repeat(1, 1fr);
  }
}
