.container {
  padding: 5px;

  display: grid;
  grid-template-rows: max-content auto;

  row-gap: 5px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  column-gap: 5px;
}

@media screen and (max-width: 900px) {
  .inputs {
    grid-template-columns: repeat(2, 1fr);

    row-gap: 5px;
  }

  .inputs input {
    width: 100%;
  }
}
